body {
    background-image: url('/images/petspeakbrown.png');
    background-size: cover; /* Stretch to cover the entire page */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Makes background stay in place while scrolling */
}


.plain-link {
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
}

trix-toolbar .trix-button {
    background: #fff !important;
}

progress {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.hr-2 {
    height: 2px;
}

.hr-white {
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
}
/* SIDEBAR STYLING */
#sidebar {
    position: fixed;
    width: 10%;
    height: 90vh;
    color: #FFFFFF;
}

.admin-sidebar {
    margin-top: 5%;
}

.admin-sidebar-separator {
    width: 88.5%;
    margin: 0;
}

.sidebar-navigation-category {
    cursor: pointer;
}

    .sidebar-navigation-category:first-child {
        margin-top: 25px;
    }

.sidebar-navigation-category-separator {
    height: 5px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.sidebar-navigation-category-arrow-down, .sidebar-navigation-category-arrow-up {
    margin-top: 5px;
}

.sidebar-navigation-category-arrow-up {
    display: none;
}

.sidebar-navigation-category-arrow-down-transform {
    transform: rotate(180deg);
    transition: transform 0.1s;
}


.sidebar-navigation-category-content {
    height: 0px;
    max-height: 70vh;
    overflow: hidden;
    -moz-transition: height .1s;
    -ms-transition: height .1s;
    -o-transition: height .1s;
    -webkit-transition: height .1s;
    transition: height .1s;
}

.sidebar-recent-topic {
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.sidebar-recent-topic-thread-picture {
}

    .sidebar-recent-topic-thread-picture img {
        border-radius: 50px;
    }

.sidebar-recent-topic-category-name {
    font-weight: bold;
}

.sidebar-recent-topic-thread-name {
}

.sidebar-popular-tag {
    cursor: pointer;
    margin: 15px 0;
    font-weight: bold;
    color: #A9A9A9;
}

.sidebar-other-link {
    cursor: pointer;
    margin: 15px 0;
    font-weight: bold;
    color: #A9A9A9;
}

    .sidebar-other-link a {
        text-decoration: none;
        color: #A9A9A9;
    }

.sidebar-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.sidebar-bottom-button {
    cursor: pointer;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}

#sidebar-signin {
    text-decoration: none;
    color: #FFFFFF;
}

/* END SIDEBAR STYLING */

/* TOP BAR STYLING */

#topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#topbar-logo-container {
    width: 10%;
}

#topbar-actions-container {
    width: 90%;
}

/* END TOP BAR STYLING */

/* LOGO STYLING */
#logo {
    position: fixed;
    left: 3.5%;
    height: 5vh;
    color: #FFFFFF;
}

#admin-logo {
    position: fixed;
    left: 3%;
    height: 5vh;
    color: #FFFFFF;
}

/* END LOGO STYLING */

/* SEARCH STYLING */

#search {
    margin-left: 10%;
    width: 70%;
    height: 5vh;
}

    #search input {
        background-color: #191919;
        font-weight: bold;
        color: #F9F9F9;
        width: 50%;
    }

        #search input:focus {
            outline: 0 none;
            box-shadow: 0 0 0 0.1rem #F9F9F9;
            border-color: #F9F9F9;
        }

        #search input::placeholder {
            color: #D1D1D1;
        }

/* END SEARCH STYLING */

/* LAYOUT ACTIONS STYLING */

#actions {
    width: 30%;
}

#post-thread-button {
    border-radius: 50px;
    margin-right: 25px;
    padding: 5px 5px 0 5px;
    border: 2px solid #FFFFFF;
}

#post-thread-button img {
}

#layout-profile {
    border-radius: 50px;
    padding: 25px 25px 5px 25px;
    border: 2px solid #FFFFFF;
}

/* END LAYOUT ACTIONS STYLING */
/* THREADS STYLING */
#main-content {
    margin-left: 10%;
    width: 90%;
    color: #FFFFFF;
}

.page-thread {
    padding: 25px;
}

.page-thread-heading {
}

.page-thread-heading-picture {
}

    .page-thread-heading-picture img {
        border-radius: 50px;
    }

.page-thread-heading-category {
}

.page-thread-heading-timestamp {
}

.page-thread-content {
}

.page-thread-content-name {
}

.page-thread-content-preview {
}

.page-thread-footer {
}

.page-thread-footer-reactions {
    padding: 5px 15px 10px 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}

    .page-thread-footer-reactions div {
        margin-top: 1px;
    }

.page-thread-footer-comments {
    padding: 5px 15px 10px 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}

    .page-thread-footer-comments div {
        margin-top: 1px;
    }

.page-thread-footer-follow {
    padding: 5px 10px 10px 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}

.page-thread-footer-share {
    padding: 5px 10px 10px 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}
/* END THREADS STYLING */


/* LOGIN FORM STYLING */

#login-form {
    padding: 25px;
}

#login-form input::placeholder {
    color: #A9A9A9 !important;
}

#login-form label {
    display: none;
}

/* END LOGIN FORM STYLING */

/* REGISTER FORM STYLING */

#register-form {
    padding: 25px;
}

    #register-form input::placeholder {
        color: #A9A9A9 !important;
    }

    #register-form label {
        display: none;
    }

/* END REGISTER FORM STYLING */

/* CREATE THREAD / COMMUNITY STYLING */

.creation-selector {
    padding: 0px 25px;
}

.creation-element {
    font-size: 32px;
    margin-left: 15px;
    text-decoration: none;
    color: #FFFFFF;
}

.creation-element-focused {
    border-bottom: 5px solid #888888;
}

#create-thread-form {
    padding: 25px;
}

#create-community-form {
    padding: 25px;
}

.created-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 5px 5px;
    z-index: 1000;
    max-width: 100%;
}

.created-tag {
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    background-color: #191919;
    color: #FFFFFF;
    font-weight: bold;
}

.form-tags-input {
    z-index: 1001;
    width: 100%;
    padding: .375rem .50rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-tags-input-field {
    background: transparent;
    z-index: 1000;
    display: inline-block;
    border: none;
    outline: none;
    width: 170px;
}


.form-tags-input-field:focus {
    outline: none;
}

.selected-community {
    display: none;
    justify-content: start;
    padding: 10px 25px 10px 15px;
    background-color: #595959;
    border-radius: 25px;
}

.selected-community-picture {
}

.selected-community-picture img {
    border-radius: 50px;
}

.selected-community-name {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.community-selector {
    display: block;
    border: 2px solid #AFAFAF;
    border-radius: 25px;
    padding: 10px 25px 10px 15px;
}

.community-selector-search-icon {

}

.community-selector-input {
    border: none;
    outline: none;
    background: transparent;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}

.community-selector-autocomplete {
    z-index: 1000;
    flex-direction: column;
    overflow-y: auto;
    max-height: 20vh;
    background: #232323;
    display: none;
    position: fixed;
    top: 0;
    padding-top: 20px;
}

.selector-community {
    background: transparent;
    z-index: 1001;
    display: inline-flex;
    justify-content: start;
    padding: 10px 25px 10px 15px;
    border-radius: 25px;
}

/* END CREATE THREAD / COMMUNITY STYLING */


/* DETAILS THREAD STYLING */

.comment-input-field {
    padding: 25px;
    background: transparent;
}

.comment-input-field textarea {
    background: transparent;
    color: #FFFFFF;
    font-weight: bold;
    resize: none;
}

.comment-input-field textarea:focus {
    background: transparent;
    color: #FFFFFF;
    font-weight: bold;
}

.comment-input-field textarea::placeholder {
    color: #888;
    font-weight: bold;
}

.comment-button-holder .btn {
    position: relative;
    bottom: 65px;
}

.details-thread-comments {
    padding: 25px;
}

    .details-thread-comment:not(:first-child) {
        margin-top: 50px;
    }

.comment-heading {
}

.comment-heading-user-thumbnail {
}

.comment-heading-user-thumbnail img {
    border-radius: 50px;
}

.comment-heading-username {
}

.comment-heading-timestamp {
}

.comment-content {
}

.comment-content-preview {
}

.comment-footer {
}

.comment-footer-reactions {
    padding: 5px 15px 10px 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}

    .comment-footer-reactions div {
        margin-top: 1px;
    }

.comment-footer-replies {
    padding: 5px 15px 10px 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

    .comment-footer-replies div {
        margin-top: 1px;
    }

.comment-footer-follow {
    padding: 5px 10px 10px 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}

.comment-footer-share {
    padding: 5px 10px 10px 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}


.comment-reply-input-field {
    padding: 25px 0 0 0;
    background: transparent;
}

    .comment-reply-input-field textarea {
        background: transparent;
        color: #FFFFFF;
        font-weight: bold;
        resize: none;
    }

        .comment-reply-input-field textarea:focus {
            background: transparent;
            color: #FFFFFF;
            font-weight: bold;
        }

        .comment-reply-input-field textarea::placeholder {
            color: #888;
            font-weight: bold;
        }

.comment-reply-button-holder .btn {
    position: relative;
    bottom: 65px;
}

.details-thread-comment-replies {
    margin-top: 35px;
    margin-left: 35px;
}

/* END DETAILS THREAD STYLING */


/* REACTIONS STYLING */

.create-reaction-button {
    margin-top: 10px;
    font-size: 18px !important;
}

.reactions-container {
    top: 10px;
    position: relative;
    width: fit-content;
    overflow-x: auto;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px;
}

.reaction-emote {
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px;
}

.reaction-emote:not(:first-child) {
    margin-left: 10px;
}

.user-reactions-container {
    margin: 10px 0 20px 0;
    width: fit-content;
}

.user-reaction {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #FFFFFF;
}

.user-reaction:not(:first-child) {
    margin-left: 10px;
}

/* END REACTIONS STYLING */

/* COMMUNITY DETAILS STYLING */

.community-details {
    padding: 25px;
}

.community-details header {

}

    .community-details header .community-details-banner {
        max-width: 100%;
        width: 100%;
        max-height: 300px;
    }

        .community-details header .community-details-banner img {
            width: 100%;
            max-height: 150px;
            border-radius: 25px 25px 0 0;
        }

    .community-details header .community-details-info {
        display: flex;
        position: relative;
        top: -50px;
        left: 25px;
    }

        .community-details header .community-details-info img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            border: 5px solid #A9A9A9;
            box-shadow: 2px 2px 2px black, 0 0 2px black, 0 0 1px black;
        }

        .community-details header .community-details-info div {
            font-weight: bold;
            font-size: 32px;
            margin-top: 25px;
            margin-left: 25px;
            text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 0.2px black;
        }

/* END COMMUNITY DETAILS STYLING */